.background-component {
    height: 70vh;
    width : 100%; 
    opacity : 0.4; 
    
    /* background-image: url('src/assets/photos/back.jpeg'); Replace 'your-background-image.jpg' with your actual image file */
    
    position: sticky;
    top : 10vh; 
    z-index: -100;
    outline : none; 
  }

  .background-component img{
    object-fit: cover;
    height: 100%;
    object-position: center center;
    width : 100%; 
  }
  
@media (max-width : 900px) {
  .background-component{
    position: sticky !important;
    top : 7vh; 
    height : 30vh; 
  }
  
}