@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    margin: 0;
    padding: 0;
}
.projects{
    padding : 120px; 
    display : flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.container-intro{
    display : flex; 
    width : 50vw; 
    height : 50vh; 
    color : red; 
    border : 2px solid black;
}
.container-intro h2{
    font-family: 'Permanent Marker';
}